@media (max-width: 1200px)
	.menu
		&_item
			padding-right: 20px
		&_link
			font-size: 13px
	.promo
		&_header
			font-size: 50px
	.reasons
		&_block
			align-items: flex-start
		&_descr
			width: 300px
	.mobile
		&_item
			width: 100%

@media (max-width: 991px)
	.menu
		&_item
			padding-right: 8px
		&_link
			font-size: 10px
	.subheader
		&_logo
			img
				width: 100%
		&_official
			font-size: 11px
		&_phone
			font-size: 18px
		&_btn
			margin-top: 21px
			height: 40px
			width: 100%
	.promo
		&_header
			font-size: 40px
		&_subheader
			font-size: 30px
	.reasons
		&_block
			flex-direction: column
			align-items: center
			&_round
				margin-right: 0
		&_descr
			width: 300px
			margin-top: 20px
	.mobile
		&_item
			height: 254px
			padding-top: 40px
			&_subtitle
				font-size: 22px
	.uber
		&_car
			width: 100%
	footer
		.footer_links
			display: block
			width: 100%
			&_sub
				a
					font-size: 10px
	

@media (max-width: 767px)
	.menu
		position: fixed
		flex-direction: column
		justify-content: center
		align-items: center
		top: 0
		left: -100%
		width: 50%
		height: 100vh
		padding: 20px 15px
		background-color: rgba(0,0,0, .8)
		transition	0.6s all
		&_active
			left: 0
		&_item
			padding-right: 0
			border: none
			margin: 10px 0
		&_link
			font-size: 20px
	.hamburger
		display: block
		position: absolute
		right: 10px
		top: 50%
		transform: translateY(-50%)	
		width: 26px
		height: 12px
		span
			display: block
			height: 2px
			width: 100%
			background-color: #fff
			margin-bottom: 2px	
			transition: 0.5s all
			&_active
				span
					margin-bottom: -2px
					&:nth-child(1)
						transform: translateY(3px) rotate(-45deg)
					&:nth-child(2)
						display: none
					&:nth-child(3)
						transform: translateY(3px) rotate(45deg)
	.xs-hidden
		display: none
	.xs-visible
		display: block
	.subheader
		&_phone
			display: block
			margin-top: 10px
			color: #ffffff
			font-size: 14px
			font-weight: 400
			text-transform: uppercase
			text-align: center
		&_btn
			display: block
			width: 200px
			height: 40px
			margin: 0 auto
			margin-top: 10px
	.promo
		&_header
			line-height: 45px
	.uber
		&_car
			width: 100%
	.require
		&_title
			padding-left: 50px
		&_descr
			padding-left: 50px
	.cities
		min-height: 417px
	footer
		.footer_divider
			width: 33.3%
		.footer_links
			&_main
				a
					font-size: 12px
			&_sub
				a
					font-size: 8px
		.footer_mobile
			display: flex
			justify-content: flex-end
			width: 100%
			a
				display: block
				width: 30%
				margin-left: 4px
				img
					width: 100%
			

@media (max-width: 575px)
	nav
		height: 30px
	header
		height: 30px
	.subheader
		height: 60px
		top: 30px
		&_official
			display: none
		&_logo
			margin-top: 16px
		&_phone
			font-size: 12px
			font-weight: 400
			text-transform: uppercase
			margin-top: 11px
		&_btn
			width: 110px
			height: 22px
			font-size: 10px
			margin-top: 6px
	.promo
		min-height: 400px
		padding: 93px 0 35px 0
		&_descr
			display: none
		&_header
			font-size: 30px
			padding: 0 24px
			line-height: 35px
		&_subheader
			font-size: 20px
			margin-top: 33px
			padding: 0 10px
			line-height: 30px
		&_btn
			width: 210px
			height: 50px
			margin-top: 72px
	.menu
		width: 85%
	.reasons
		padding: 22px 0 36px 0
		&_block
			margin-top: 26px
		&_round
			width: 100px
			height: 100px
		&_descr
			width: 100%
			margin-top: 27px
		&_subtitle
			font-size: 16px
	
	.title
		font-size: 16px
		margin-top: 15px
		line-height: 16px
	.title_white
		display: none
	.subtitle_white
		display: none
	.uber
		min-height: 200px
		img
			height: 100%
		.black
			height: 50%
	.cities
		min-height: 360px
		&_link
			bottom: 0px
			line-height: none
			font-size: 12px
	footer
		.footer_divider
			width: 80%
		.footer_wrapper
			padding-top: 10px
			flex-flow: wrap
			flex-direction: column
			justify-content: center
			div
				width: 100%
				.footer_social
					justify-content: center
			.num1
				order: 1
				margin-top: 10px
			.num2
				order: 0
				.footer_links
					&_main
						justify-content: center
						a
							padding-left: 8px
					&_sub
						justify-content: center
						a
							padding-left: 8px
					&_lang
						margin-top: 9px
			.num3
				order: 2
				margin-top: 10px